body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #2e3532;
}
.todo-form--container{
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
    


.todo-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    & ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    & ul li{
        padding: 0;
        text-align: center;
        background-color: #F3EFF5;
        list-style: none;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    
}

}
.todo-name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.todo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 20px 50px;
    background-color: #E0E2DB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todo-form--container input{
    padding: 15px;
    border: none;
    outline:none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.todo-form--container input:focus{
    border: 2px solid #D2D4C8;

}
form{
    
    display: flex;
    align-items: center;
    gap : 20px;
}
form button{
    padding: 8.7px;
   
    background-color: #D3EFBD;
}
.clear-all{
    background-color: #8B2635;
    color: white;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    &:hover{
        box-shadow: 0 0 5px #8B2635;
        border: none;
        outline: none;
    }
}
.check-button{
    background-color: transparent;
    font-size: 23px;
    color: #29bb2c;
    border: none;
    outline: none;

    &:hover{
        border:none;
    }
}
.delete-button{
    background-color: transparent;
    font-size: 25px;
    color: #DB162F;
    border: none;
}
button:active{
    border: none;
    outline: none;
}